
body {
	background-image: url("https://r.mprd.se/media/images/46505-New_Super_Mario_Bros._(U)(Psyfer)-3.jpg");
	opacity: 0.9;

}

.container {
	background-color:white;
	width: 70%;
	margin: 0 auto;
	margin-top: 200px;
	padding: 40px;
	margin-bottom: 200px;
	text-align:center;
	font-size: 20px;



}

.title {
	font-family: 'Sedgwick Ave Display', cursive;
	margin-bottom: 50px;
	font-size: 70px;
	text-align:center;
	color: blue;
}

.clickButton {
	text-align:center;
	font-size: 24px;

}

.questions {
	display:none;
	font-family: "Times New Roman", Times, serif;
}

.timer {
	display:none;
	margin-bottom: 40px;
	text-align:center;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;


}

.quizDone {
	display:none;
}

#correctAnswer {
	text-align:center;
	font-family: 'Sedgwick Ave Display', cursive;
	font-size:28px;

}

#incorrectAnswer {
	text-align:center;
	font-family: 'Sedgwick Ave Display', cursive;
	font-size:28px;

}